/* fontawesomeのフォント読み込みも@next/fontでできるかもしれない */

@import "fontawesome/css/fontawesome.min.css";
@import "fontawesome/css/solid.min.css";
@import "fontawesome/css/brands.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    width: 100%;
    height: 100%;

    /* PageFooterコンポーネントのbg-gray-100と同じ macでのバウンススクロールで見える部分の対策 */
    background-color: rgb(243, 244, 246);
}

body {
    width: 100%;
    height: 100%;
}

#__next,#storybook-root {
    width: 100%;
    height: 100%;
}
