/* fontawesomeのフォント読み込みも@next/fontでできるかもしれない */

@import "fontawesome/css/fontawesome.min.css";
@import "fontawesome/css/solid.min.css";
@import "fontawesome/css/brands.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    height: 100%;
}

body {
    height: 100%;
}

#__next,#storybook-root {
    height: 100%;
}
